/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF rgb 178 180 255
Dark-blue: #46477F
Highlite: #FFCCBF */

/* pink complement #CC0063 rgb 204 0 99 */

/* defaults */

html {
  font-size: 16px;
}

body {
  z-index:0;
  overflow-x:hidden;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width:100%;
}

header, main, footer {
  width:100%;
}

section {
  margin:0px;
  padding:0px;
}

/* for PC screens */
/* @media only screen and (min-width:1025px) { */

/* navigation bar */
.nav_pc {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height:64px;
  position:fixed;
  z-index: 10;
  background-color:white;
}

.logo {
  font-size:2rem;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;

}

.text_2 {
  color:#CCCCCC;
}

.text_1 {
  color:#7F7F7F;
}

.nav_links ul {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size:1rem;
  padding-right: 24px;

}

.nav_links ul li {
  color:#7F7F7F;
  margin-right:1rem;
}

.nav_links ul li:hover {
  color:#B2B4FF;
}

.nav_links ul li:active {
  color:#CC0063;
}

.nav_tablet, .nav_phone {
  display:none;
}

/* call to action  */



.call_to_action {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color:#46477F;
  padding-top:6rem;
  padding-bottom:2rem;
}

.cta_image {
  width:60%;
  padding-left: 1.5rem;
  padding-right:1.5rem;

}

.cta_image img {
  width:100%;
  margin:0px;
  padding:0px;
  display:flex;
}

.cta_content {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.cta_text h1 {
  /* color:#7F7F7F; */
  color:#B2B4FF;
  font-size:3rem;
  font-family: 'Kadwa', serif;
  font-weight: bold;
}

.cta_text p {
  color:#CCCCCC;
  font-size:2rem;
  font-family: 'Amiri', serif;
  margin-top:2rem;
  margin-bottom:2rem;

}

.cta_button {
  width:100%;
  background-color: #7F7F7F;


}

.cta_button p {
  font-family: 'Kadwa', serif;
  font-size: 2rem;
  color:#CCCCCC;
  text-align:center;
  padding:0.5rem;
}


.cta_button:hover {
  background-color:#CC0063;
}

.cta_button:active {
  background-color:#B2B4FF;
}



/* information section */

.information {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  padding-top:2rem;
  padding-bottom:2rem;
}

.article_main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;
  padding-left: 1.5rem;
  padding-right:1.5rem;
 }

.main_article_img {
  width:100%;

}

.main_article_img img {
  width:100%;
}

.main_article_content {
  width:100%;
}

#hiring a {
  color:#46477F;
  font-weight: bold;
  font-style: italic;
}

#hiring a:hover {
  color:rgb(204, 0, 99);
}

#hiring a:active {
  color:rgb(178, 180, 255);
}

.article_side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;

}

.article_side_item {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
    border:1px solid #CCCCCC;

}

.side_article_img {
    width:35%;
    padding:1rem;
}

.side_article_img img{
  width:100%;
}

.side_article_content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;

}

.main_article_content h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:2rem;
  padding-bottom:1.5rem;
}

.text {
  font-size:1rem;
  font-family: 'Montserrat', sans-serif;
  color:#7F7F7F;
  line-height:1.5;
  padding-top:1rem;
  padding-bottom:1rem;
  overflow: hidden;
}

.author {
  font-size:1rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:2rem;
}

.side_article_content h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
}

.read_more {
  font-size:1rem;
  font-weight:bold;
  font-family: 'Amiri', serif;
  color:#46477F;
}

.article_side_item:nth-of-type(3) {
  background-color:#B2B4FF;
}

#featured_text {
  color:#7F7F7F;
}

.article_side_item:hover {
  background-color:rgb(204, 0, 99);
}

.article_side_item:active {
  background-color:rgb(178, 180, 255);
}

/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF
Dark-blue: #46477F
Highlite: #FFCCBF */

/* Courses container */

.courses {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #46477F;
  padding-top: 2rem;
}

.courses_tilte {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top:2rem;
}

.courses_title h2 {
  font-family: 'Kadwa', serif;
  font-size:2rem;
  font-weight: bold;
  color:#CCCCCC;
}

.courses_container {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left:4.5rem;
  padding-right:4.5rem;
}

.courses_row_one {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
}

.courses_row_two {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.course_item {
  width:30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
  margin:2rem 2rem;
}


.course_content_container:hover {
  background-color:rgb(204, 0, 99);
}

.course_content_container:active {
  background-color:rgb(178, 180, 255);
}



/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF rgb 178 180 255
Dark-blue: #46477F
Highlite: #FFCCBF */

/* pink complement #CC0063 rgb 204 0 99 */

.course_image_container {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.course_image_container img {
  width:100%;
}

.course_content_container {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top:1rem;
  /* padding-bottom:1rem; */
  background-color:white;
  height:11rem;

}

.course_title {
  padding:0.5rem 1rem 0.5rem 1rem;
  font-family: 'Kadwa', serif;
  font-size:2rem;
  font-weight: bold;
  color:#7F7F7F;
}

.course_subtitle {
  padding:0.5rem 1rem 0.5rem 1rem;
  font-family: 'Amiri', serif;
  font-size:1rem;
  color:#B2B4FF;
}

.course_text {
  padding:0.5rem 1rem 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  color:#7F7F7F;
  line-height: 1.5;
  padding-bottom:1.5rem;
  overflow: hidden;
}

/* #course_text_large {
  padding-bottom:1.5rem;
} */


/* } */

/* Exhibit section */

.exhibit {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  padding-top:2rem;
  padding-bottom:2rem;
}

.video_section_title {
  display:none;
}

.video_main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;
  padding-left: 1.5rem;
  padding-right:1.5rem;
 }

.main_video_img {
  width:100%;

}

.main_video_img img {
  width:100%;
}

.main_video_content {
  width:100%;
}

.video_side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;

}

.video_side_item {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;


}


.side_video_img {
    width:35%;
    padding:1rem;
}

.side_video_img img{
  width:100%;
}

.side_video_content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;
}

.main_video_content h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:2rem;
  padding-bottom:1.5rem;
}

/* .text {
  font-size:1rem;
  font-family: 'Montserrat', sans-serif;
  color:#CCCCCC;
  padding-top:1rem;
  padding-bottom:1rem;
} */

/* .author {
  font-size:1rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:2rem;
} */

.side_video_content h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
}

/* .read_more {
  font-size:1rem;
  font-weight:bold;
  font-family: 'Amiri', serif;
  color:#46477F;
} */

.video_side_item:nth-of-type(1) {
  background-color:#B2B4FF;
}

#featured_text {
  color:#7F7F7F;
}

.video_side_item:hover {
  background-color:rgb(204, 0, 99);
}

.video_side_item:active {
  background-color:rgb(178, 180, 255);
}

/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF
Dark-blue: #46477F
Highlite: #FFCCBF */

/*footer  */

footer {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family:'Amiri', serif;
  color:#CCCCCC;
}

.copywrite {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #CCCCCC;
}

.cw_info {
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-content:center;
  padding-left: 1.5rem;
}

.footer_link {
  width:50%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right:1.5rem;
}

.footer_link ul {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.footer_link ul span li {
  padding:1.5rem;
  font-size: 1rem;
}



/* for tablet devices */
@media only screen and (max-width:1024px) {

.courses_container{
  flex-direction:row;
}

.courses_row_one {
  flex-direction:column;
}

.courses_row_two {
  flex-direction: column;
}

.course_item {
  width:80%;
}



}

@media only screen and (max-width:800px) {

.text_1, .text_2 {
  font-size:1rem;
}

}

/* for mobile phones  */

@media only screen and (max-width:700px) {

/*navigaiton bar  */


.nav_pc{
  display:none;
}

.nav_phone{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:4rem;
}

.nav_phone ul {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center:
}

.nav_phone ul li:hover {
  background-color:rgb(204, 0, 99);

}

.nav_phone ul li:active {
  background-color:rgb(178, 180, 255);
}

/*  main header cta*/

.call_to_action {

  flex-flow: wrap column;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  margin: 0rem;
  padding-top:0rem;
}

.cta_content {
  width:100%;
}

.cta_button {
  max-width:90%;
  min-width: 314px;

}

.cta_text h1 {
  font-size:2rem;
  margin-bottom:1rem;
}

.cta_text p {
  display:none;
}

.cta_image {
  width:100%;
  margin-bottom:1rem;

}

/* information */

.article_main {
  display:none;
}

.article_side {
  width:100%;
}

/* courses */


.courses_container {
  flex-wrap:wrap;
  padding-bottom:1rem;
}

.courses_row_one, .courses_row_two {
  flex-direction: column;
  justify-content: space-around;
}

.course_item {
  width:90%;
  margin:0.2rem 2rem;
}

.course_image_container, .course_subtitle, .course_text {
  display:none;
}

.course_content_container {
  height:auto;
}

.course_title {
  font-size:1.5rem;
}

/* thesis exhibit */

.video_side {
  display:none;
}

.main_video_content {
  display:none;
}

.video_main {
  width:90%;
}

.video_section_title {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
}

.video_section_title h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:1rem;
  padding-bottom:1rem;
  text-align:center;
}


/*footer  */

.footer_link {
  display:none;
}

.cw_info {
  width:100%;
}

.cw_info span {
  margin-top:1rem;
  margin-bottom: 1rem;
}

/* .copywrite {
  margin:2rem;
} */

/* .course_item:nth-of-type(3) {
  display:none; */
}
