/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF
Dark-blue: #46477F
Highlite: #FFCCBF */

/* defaults */

html {
  font-size: 16px;
}

body {
  z-index:0;
}

header, main, footer {
  width:100%;
}

section {
  margin:0px;
  padding:0px;
}

/* for PC screens */
@media only screen and (min-width:1025px) {

/* navigation bar */
.nav_pc {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height:64px;
  position:fixed;
  z-index: 10;
  background-color:white;
}

.logo {
  font-size:2rem;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;

}

.text_2 {
  color:#CCCCCC;
}

.text_1 {
  color:#7F7F7F;
}

.nav_links ul {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size:1rem;
  padding-right: 24px;

}

.nav_links ul li {
  color:#7F7F7F;
  margin-right:1rem;
}

.nav_tablet, .nav_phone {
  display:none;
}

/* call to action  */



.call_to_action {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color:#46477F;
  padding-top:6rem;
  padding-bottom:2rem;
}

.cta_image {
  width:60%;
  padding-left: 1.5rem;
  padding-right:1.5rem;

}

.cta_image img {
  width:100%;
  margin:0px;
  padding:0px;
  display:flex;
}

.cta_content {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border:1px solid black;

  /*might have to change flex grow for 40%  */
}

.cta_text h1 {
  /* color:#7F7F7F; */
  color:#B2B4FF;
  font-size:3rem;
  font-family: 'Kadwa', serif;
  font-weight: bold;
}

.cta_text p {
  color:#CCCCCC;
  font-size:2rem;
  font-family: 'Amiri', serif;
  margin-top:2rem;
  margin-bottom:2rem;

}

.cta_button {
  width:100%;
  background-color: #7F7F7F;


}

.cta_button p {
  font-family: 'Kadwa', serif;
  font-size: 2rem;
  color:#CCCCCC;
  text-align:center;
  padding:0.5rem;
}

}

/* for tablet devices */
@media only screen and (max-width:1024px) and (min-width:481px) {

}

/* for mobile phones */
@media only screen and (max-width:480px) {

}
