/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF
Dark-blue: #46477F
Highlite: #FFCCBF */

/* defaults */

html {
  font-size: 16px;
}

body {
  z-index:0;
  overflow-x:hidden;
}

header, main, footer {
  width:100%;
}

section {
  margin:0px;
  padding:0px;
}

/* for PC screens */
/* @media only screen and (min-width:1025px) { */

/* navigation bar */
.nav_pc {
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  height:64px;
  position:fixed;
  z-index: 10;
  background-color:white;
}

.logo {
  font-size:2rem;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 24px;

}

.text_2 {
  color:#CCCCCC;
}

.text_1 {
  color:#7F7F7F;
}

.nav_links ul {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size:1rem;
  padding-right: 24px;

}

.nav_links ul li {
  color:#7F7F7F;
  margin-right:1rem;
}

.nav_tablet, .nav_phone {
  display:none;
}

/* call to action  */



.call_to_action {
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color:#46477F;
  padding-top:6rem;
  padding-bottom:2rem;
}

.cta_image {
  width:60%;
  padding-left: 1.5rem;
  padding-right:1.5rem;

}

.cta_image img {
  width:100%;
  margin:0px;
  padding:0px;
  display:flex;
}

.cta_content {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.cta_text h1 {
  /* color:#7F7F7F; */
  color:#B2B4FF;
  font-size:3rem;
  font-family: 'Kadwa', serif;
  font-weight: bold;
}

.cta_text p {
  color:#CCCCCC;
  font-size:2rem;
  font-family: 'Amiri', serif;
  margin-top:2rem;
  margin-bottom:2rem;

}

.cta_button {
  width:100%;
  background-color: #7F7F7F;


}

.cta_button p {
  font-family: 'Kadwa', serif;
  font-size: 2rem;
  color:#CCCCCC;
  text-align:center;
  padding:0.5rem;
}

/* information section */

.information {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-start;
  padding-top:2rem;
  padding-bottom:2rem;
}

.article_main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;
  padding-left: 1.5rem;
  padding-right:1.5rem;
 }

.main_article_img {
  width:100%;

}

.main_article_img img {
  width:100%;
}

.main_article_content {
  width:100%;
}

.article_side {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:40%;

}

.article_side_item {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
    border:1px solid #CCCCCC;

}

.side_article_img {
    width:35%;
    padding:1rem;
}

.side_article_img img{
  width:100%;
}

.side_article_content {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width:60%;
}

.main_article_content h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:2rem;
  padding-bottom:1.5rem;
}

.text {
  font-size:1rem;
  font-family: 'Montserrat', sans-serif;
  color:#CCCCCC;
  padding-top:1rem;
  padding-bottom:1rem;
}

.author {
  font-size:1rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
  padding-top:2rem;
}

.side_article_content h2 {
  font-size:2rem;
  font-weight:bold;
  font-family: 'Kadwa', serif;
  color:#7F7F7F;
}

.read_more {
  font-size:1rem;
  font-weight:bold;
  font-family: 'Amiri', serif;
  color:#46477F;
}

.article_side_item:nth-of-type(3) {
  background-color:#B2B4FF;
}

#featured_text {
  color:#7F7F7F;
}

/*
Colors:
dark-grey:#7F7F7F
Light-grey: #CCCCCC
White: #FFFFFF
Light-blue: #B2B4FF
Dark-blue: #46477F
Highlite: #FFCCBF */

/* Courses container */

.courses {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background-color: #46477F;
  padding-top: 2rem;
}

.courses_tilte {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top:2rem;
}

.courses_title h2 {
  font-family: 'Kadwa', serif;
  font-size:2rem;
  font-weight: bold;
  color:#CCCCCC;
}

.courses_container {
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left:4.5rem;
  padding-right:4.5rem;
}

.courses_row_one {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:baseline;
}

.courses_row_two {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.course_item {
  width:30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border:1px solid black; */
  margin:2rem 2rem;
}

.course_image_container {
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.course_image_container img {
  width:100%;
}

.course_content_container {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top:1rem;
  /* padding-bottom:1rem; */
  background-color:white;
  height:11rem;

}

.course_title {
  padding:0.5rem 1rem 0.5rem 1rem;
  font-family: 'Kadwa', serif;
  font-size:2rem;
  font-weight: bold;
  color:#7F7F7F;
}

.course_subtitle {
  padding:0.5rem 1rem 0.5rem 1rem;
  font-family: 'Amiri', serif;
  font-size:1rem;
  color:#B2B4FF;
}

.course_text {
  padding:0.5rem 1rem 0.5rem 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  color:#7F7F7F;
  line-height: 1.5;
  padding-bottom:1.5rem;
}

/* #course_text_large {
  padding-bottom:1.5rem;
} */


/* } */

/* for tablet devices */
@media only screen and (max-width:1024px) and (min-width:481px) {

}

/* for mobile phones */
@media only screen and (max-width:480px) {

}
